<div class="container-fluid bg-white">
	<div class="row ">
			<div class="col-lg-2  col-6 m-top-xs m-bottom-xs ">
				<h3 class="text-logo"><%=link_to "UniverSkool", root_path, class:""%></h3>
			</div>
			<div class="col-lg-6 offset-lg-4  m-top-xs m-bottom-xs d-xl-block d-lg-block d-md-block d-none">
    <ul class="nav nav-pills float-right">
      <li class="nav-item">
        <%=link_to "accueil", root_path, class:"nav-link"%>
      </li>
       <li class="nav-item">
        <%=link_to "les établissements", etablissements_path, class:"nav-link"%>
      </li>
       <li class="nav-item">
        <%=link_to "blog", articles_path, class:"nav-link"%>
      </li>
      <li class="nav-item">
		  <a class="nav-link" href="#">à propos</a>
      </li>
      <li class="nav-item">
		    <%=link_to "Contact", new_message_path, class:"nav-link"%>
      </li>
    </ul>
			</div>
			<div class="col-4 offset-2 m-top-xs m-bottom-xs d-xl-none d-lg-none d-md-none d-block">
			<!-- Default dropleft button -->
<div class="btn-group dropleft">
  <button type="button" class="btn btn-appel btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu">
         <%=link_to "accueil", root_path, class:"dropdown-item"%>
        <%=link_to "les établissements", etablissements_path, class:"dropdown-item"%>
      
        <%=link_to "blog", articles_path, class:"dropdown-item"%>
      
		  <a class="dropdown-item" href="#">à propos</a>
      
		  <a class="dropdown-item" href="#">contact</a>
  </div>
</div>

    		</div>
	</div>
</div>