<%=render 'menus/main'%>
<div class="container-fluid bg-head">
	<div class="row">
	      <div class="col-lg-8 offset-lg-2 col-12 text-center ze-pad-md">
	      	      <h1 class="text-bold text-maj text-white entete">les établissements</h1>
	      </div>
	</div>
</div>
<%# app/views/etablissements/index.html.erb %>
<h1>etablissements</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Country
    <%= f.select(
      :with_country_id,
      @filterrific.select_options[:with_country_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  
    <div>
    Country
    <%= f.select(
      :with_category_id,
      @filterrific.select_options[:with_category_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  
  
  <div>
    Registered after
    <%= f.text_field(:with_created_at_gte, class: 'js-datepicker') %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
<%=f.submit "valider"%>
<% end %>

<%= render 'etablissements/list', etablissements: @etablissements %>

<%if administrateur_signed_in?%>
<%= link_to 'New Etablissement', new_etablissement_path %>
<%else%>
<% end %>
<%=render 'footers/main-footer'%>