<p id="notice"><%= notice %></p>

<h1>Etablissements</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Profil</th>
      <th>Cover</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Site</th>
      <th>Adresse</th>
      <th>Slug</th>
      <th>Country</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etablissements.each do |etablissement| %>
      <tr>
        <td><%= etablissement.nom %></td>
        <td><%= etablissement.description %></td>
        <td><%= etablissement.profil %></td>
        <td><%= etablissement.cover %></td>
        <td><%= etablissement.telephone %></td>
        <td><%= etablissement.email %></td>
        <td><%= etablissement.site %></td>
        <td><%= etablissement.adresse %></td>
        <td><%= etablissement.slug %></td>
        <td><%= etablissement.country_id %></td>
        <td><%= etablissement.category_id %></td>
        <td><%= link_to 'Show', etablissement %></td>
        <td><%= link_to 'Edit', edit_etablissement_path(etablissement) %></td>
        <td><%= link_to 'Destroy', etablissement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Etablissement', new_etablissement_path %>
