<%=render 'menus/main'%>
<div class="container-fluid e-cover" style="background:url('<%= @etablissement.cover.url%>')no-repeat;background-size:cover;background-position:center; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); border-bottom:10px solid orangered;border-top:10px solid orangered;
">
	<div class="row">
		<div class="col-lg-2 offset-lg-0 col-6 offset-3 m-top-big">
			<%=image_tag @etablissement.profil.url, class:"img-fluid logo"%>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		    <div class="col-lg-12 col-12 bg-white m-top ze-pad">
		    	   <h2 class="text-maj text-bold"><%= @etablissement.nom %></h2>
			       <h5 class="text-maj text-bold m-top">informations</h5>
		       			<hr>
			       			<div class="row informations">
				<div class="col-lg-4 col-6 m-top-mini">
				      <h5><i class="fas fa-phone-square-alt"></i> <%= @etablissement.telephone %></h5>
				</div>
			<div class="col-lg-4 col-6 m-top-mini">
			       <h5><i class="fas fa-envelope"></i> <%= @etablissement.email %></h5>
			</div>
			<div class="col-lg-4 col-6 m-top-mini">
			        <h5><i class="fas fa-globe-africa"></i> <%= @etablissement.site %></h5>
			</div>
			<div class="col-lg-4 col-6 m-top-mini">
			        <h5><i class="fas fa-map-marker-alt"></i> <%= @etablissement.adresse %></h5>
			</div>
			<div class="col-lg-4 col-6 m-top-mini">
			        <h5 class="text-cap"><i class="fas fa-flag"></i> <%= @etablissement.country.nom %></h5>
			</div>
			<div class="col-lg-4 col-6 m-top-mini">
			         <h5><i class="fas fa-archive"></i> <%= @etablissement.category.titre %></h5>
			 </div>
			</div>
			<hr>
			<div class="row">
			   			<div class="col-lg-6 col-6 m-top-mini">
			                      <a href="tel: <%= @etablissement.telephone %>" class="btn btn-appel  text-maj text-bold"><i class="fas fa-phone-square-alt"></i> Appeler</a>
			                      <a href="mailto: <%= @etablissement.email %>" class="btn btn-mail  text-maj text-bold"><i class="fas fa-envelope"></i> email</a>
			</div>
			</div>
			
		    </div>
		    <div class="col-lg-7 col-12 bg-white m-top ze-pad">
		    	   	<h4 class="text-maj text-bold m-top">description</h4>
			<hr>
			<p><%= @etablissement.description %></p>
		    </div>
		    <div class="col-lg-4 offset-lg-1 col-12 bg-white m-top ze-pad d-lg-block d-none">
		    	    					<div class="row informations">
					<div class="col-lg-6 offset-lg-3 ze-pad-big">
			<%=image_tag @etablissement.profil.url, class:"img-fluid"%>
		</div>
						<div class="col-lg-12 col-6 m-top">
				      <p><i class="fas fa-phone-square-alt"></i> <%= @etablissement.telephone %></p>
				</div>
			<div class="col-lg-12 col-6">
			       <p><i class="fas fa-envelope"></i> <%= @etablissement.email %></p>
			</div>
			<div class="col-lg-12 col-12 d-none">
			        <p><i class="fas fa-globe-africa"></i> <%= @etablissement.site %></p>
			</div>
			<div class="col-lg-12 col-6 m-top-mini">
			        <p class="text-cap"><i class="fas fa-flag"></i> <%= @etablissement.country.nom %></p>
			</div>
			<div class="col-lg-12 col-6 m-top-mini">
			         <p class="text-cap"><i class="fas fa-archive"></i> <%= @etablissement.category.titre %></p>
			 </div>
					</div>
		    </div>
		    
		    <%= render 'demandes/form', :@demande => Demande.new%>
		    
		     <div class="col-lg-4 offset-lg-1 col-12 bg-white m-top-mini m-bottom ze-pad">
		     	    			<h4 class="text-maj text-bold">écoles similaires</h4>
			<hr>
			<div class="row">  	      
			    	   	      	      		<%@etablissements_similaires.each do |etablissement|%>
			    	   	      	      		
<div class="card mb-3 m-top" style="max-width: 100%;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <%=image_tag etablissement.profil.url,class:"card-img"%>
    </div>
    <div class="col-md-9">
      <div class="card-body">
               <h5 class="card-title text-bold text-maj">
                       <%=link_to etablissement do %>
                        <%=etablissement.nom%>
                        <% end%>
                </h5>
      </div>
    </div>
  </div>
</div>
<%end%>
							</div>
		     </div>
	</div>
</div>
<%if administrateur_signed_in?%>
<%= link_to 'Edit', edit_etablissement_path(@etablissement) %> |
<%= link_to 'Back', etablissements_path %>
<%else%>
<%end%>
<%=render 'footers/main-footer'%>