<%=render 'menus/main'%>
<div class="container-fluid e-cover" style="background:url('<%= @etablissement.cover.url%>')no-repeat;background-size:cover;background-position:center; box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); border-bottom:10px solid orangered;border-top:10px solid orangered;
">
	<div class="row">
		<div class="col-lg-2 offset-lg-0 col-6 offset-3 m-top-big">
			<%=image_tag @etablissement.profil.url, class:"img-fluid logo"%>
		</div>
	</div>
</div>
<div class="container-fluid bg-white">
	<div class="row">
	    <div class="col-lg-7 offset-lg-1  col-12 order-lg-1 order-12">
	    	<h4 class="text-maj text-bold m-top-big">description</h4>
			<hr>
			<p class="contenu"><%= raw(@etablissement.description) %></p>
            <hr>
            <!-- Button trigger modal -->
<button type="button" class="btn btn-appel btn-block text-maj text-bold" data-toggle="modal" data-target="#exampleModal">
  Faire une demande de pré-inscription
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-maj text-bold" id="exampleModalLabel">Pré-inscription</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
               <p class="text-danger"> <small>Les champs précédés d'un * sont obligatoires</small></p>
                <%= render 'demandes/form', :@demande => Demande.new%>
      </div>
    </div>
  </div>
</div>
          
	    </div>
	    <div class="col-lg-3 offset-lg-1 col-12 order-lg-12 order-1 m-top ze-pad">
		    	 <div class="row informations">
			            <div class="col-lg-12 col-6 mb-3 m-top-mini mini-sec">
	                         <h4 class="text-maj text-bold text-center ">fiche technique</h4>
	                          <hr>		                     
	                          <h6>Nom:  <span class="text-maj text-bold"><%= @etablissement.nom %></span></h6>
			                 <h6>Pays: <span class="text-cap"><%= @etablissement.country.nom %></span></h6>
			                 <h6>Catégorie: <span class="text-cap"><%= @etablissement.category.titre %></span></h6>
			           </div>
			       </div>
			       
			       <div class="row informations">
			            <div class="col-lg-12 col-6  mb-3 m-top mini-sec">
	                         <h4 class="text-maj text-bold text-center ">coordonnées</h4>
	                          <hr>
		                     <h6>Téléphone:  <span class="text-maj text-bold"><%= @etablissement.telephone %></span></h6>
			                 <h6>Email: <span class="text-cap"><%= @etablissement.email %></span></h6>
			                 <h6>Adresse: <span class="text-cap"><%= @etablissement.adresse %></span></h6>
			           </div>
			       </div>
			       
			       <div class="row informations">
			            <div class="col-lg-12 col-6  mb-3 m-top mini-sec text-center">
	                         <h4 class="text-maj text-bold ">contacter</h4>
	                          <hr>
		                     <a href="tel: <%= @etablissement.telephone %>" class="btn btn-appel  text-maj text-bold"><i class="fas fa-phone-square-alt"></i> Appeler</a>
			                      <a href="mailto: <%= @etablissement.email %>" class="btn btn-mail  text-maj text-bold"><i class="fas fa-envelope"></i> email</a>
			           </div>
			</div>	       
		</div>    
	</div>
</div>
<%if administrateur_signed_in?%>
<%= link_to 'Edit', edit_etablissement_path(@etablissement) %> |
<%= link_to 'Back', etablissements_path %>
<%else%>
<%end%>
<%=render 'footers/main-footer'%>