<%= form_with(model: diplome, local: true) do |form| %>
  <% if diplome.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diplome.errors.count, "error") %> prohibited this diplome from being saved:</h2>

      <ul>
        <% diplome.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titre %>
    <%= form.text_field :titre %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
