<p id="notice"><%= notice %></p>

<h1>Demandes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Telephone</th>
      <th>Email</th>
      <th>Objet</th>
      <th>Contenu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demandes.each do |demande| %>
      <tr>
        <td><%= demande.nom %></td>
        <td><%= demande.telephone %></td>
        <td><%= demande.email %></td>
        <td><%= demande.objet %></td>
        <td><%= demande.contenu %></td>
        <td><%= link_to 'Show', demande %></td>
        <td><%= link_to 'Edit', edit_demande_path(demande) %></td>
        <td><%= link_to 'Destroy', demande, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Demande', new_demande_path %>
