<div class="container-fluid p-3" style="background-color:orangered;">
	<div class="row">
			<div class="col-lg-6 col-12">
				<h3 class="text-bold text-white">UniverSkool</h3>
			</div>
			<div class="col-lg-6 col-12">
				<%= search_form_for @q do |f|%>
  					<div class="row">
  						<div class="form-group col-lg-9 col-12">
  					<%= f.search_field :nom_cont , class:"form-control" %>
  					</div>
  					<div class="form-group col-lg-3 col-12">
  						<%= f.submit "Chercher" , class:"btn btn-success"%>
					</div>
  					</div>
				<% end %>
			</div>
	</div>
</div>
<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/aseed/video/upload/v1571231028/Homework_-_1028_kuyehg.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-75 m-auto text-white">
        <h1 class="display-4">Vous cherchez un établissement?</h1>
        <p class="lead mb-0">Notre mission ? Vous aider à le trouver.
Comment ? En vous donnant toutes les clés pour vous aider à trouver votre voie et à vous y épanouir. </p>
      </div>
    </div>
  </div>
</header>
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-12 text-center m-top-mini">
			<h1 class="text-bold text-maj">les écoles à la une</h1>
		</div>
		<div class="col-lg-12 col-12 text-center m-top-mini">
			    <div class="row">
			    	   <div class="card-deck">
			    	   	      <div class="card">
			    	   	      	      		<%@etablissement.each do |etablissement|%>
		<div class="col-lg-4 col-12">
				<figure class="snip1336">
  						<%=image_tag etablissement.cover.url%>
  						<figcaption>
      							<%=image_tag etablissement.profil.url,class:"profile"%>
    							<h2><%=etablissement.nom%><span><%=etablissement.country.nom%></span></h2>
    							<a href="<%=etablissement.site%>" class="follow" target="_blank">Site Web</a>
    							<%=link_to "Informations", etablissement, class:"info"%>
  						</figcaption>
					</figure>
		</div>
<%end%>
			    	   	      </div>
			    	   </div>
			    </div>
		</div>
		<div class="col-lg-12 col-12 text-center m-top-mini m-bottom-mini">
			<%=link_to "voir tous les établissements",root_path ,class:"btn btn-primary btn-lg text-maj text-bold" %>
		</div>
	</div>
</div>
<div class="container-fluid p-3" style="background-color:orangered;">
	<div class="row">
			<div class="col-lg-6 col-12">
				<h3 class="text-bold text-white">UniverSkool</h3>
			</div>
			<div class="col-lg-6 col-12">
			</div>
	</div>
</div>