<%=render 'menus/main'%>
 <header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://res.cloudinary.com/aseed/video/upload/v1571231028/Homework_-_1028_kuyehg.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-75 m-auto text-white">
        <h1 class="display-4">Vous cherchez un établissement?</h1>
        <p class="lead mb-0">Notre mission ? Vous aider à le trouver.
Comment ? En vous donnant toutes les clés pour vous aider à trouver votre voie et à vous y épanouir. </p>
      </div>
    </div>
  </div>
</header>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-12" style="background:url('https://images.pexels.com/photos/1181327/pexels-photo-1181327.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')no-repeat; background-size:cover;background-position:center ;height:500px;">
			
		</div>
		
		<div class="col-lg-6 col-12 bg-head text-white text-center">
		        <h5 class="text-bold m-top-big">Vous cherchez un établissement?</h5>

<h4 class="m-top-mini">
Notre mission ? Vous aider à en prendre conscience.
Comment ? En vous donnant toutes les clés pour vous aider à trouver votre voie et à vous y épanouir.
</h4>

<h1 class="text-bold text-maj m-top-mini">#WEVEGOTYOURBACK</h1>
	
	<%=link_to "voir tous les établissements", etablissements_path ,class:"btn btn-white btn-lg text-maj text-bold m-top" %>
		</div>
		
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-12 text-center m-top-mini">
			<h2 class="text-bold text-maj">les écoles à la une</h2>
		</div>
		<div class="col-lg-12 col-12 text-center m-top-mini">
			    <div class="row">
			    	   	      
			    	   	      	      		<%@etablissements.each do |etablissement|%>
			    	   	      	      		
		<div class=" col-lg-3 col-12">
				<figure class="snip1336">
 						<div class="cover" style="background: url('<%=etablissement.cover.url%>')no-repeat;background-size:cover;background-position:center;">
 							
 						</div>
  						
  						<figcaption>
      							<%=image_tag etablissement.profil.url,class:"profile"%>
    							<h2><%=etablissement.nom%><span><%=etablissement.country.nom%></span></h2>
    							<a href="<%=etablissement.site%>" class="follow d-none" target="_blank">Site Web</a>
    							<%=link_to "Informations", etablissement, class:"info"%>
  						</figcaption>
					</figure>
		</div>
<%end%>
			    	   	      
			    </div>
		</div>
		<div class="col-lg-12 col-12 text-center m-top-mini m-bottom-mini">
			<%=link_to "voir tous les établissements", etablissements_path ,class:"btn btn-appel btn-lg text-maj text-bold" %>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-12 m-top-mini">
	          <h2 class="text-maj text-bold text-center">nos conseils en orientation <br>et développement personnel</h2>
		       <div class="row m-top">
			<%@articles.each do |article| %>
			      <div class="col-lg-3 col-12">
			      	     <div class="article-card">
                                 <%=image_tag article.photo.url%>
                                 <div class="panel">
                                         <h3>
                                         <%=link_to article do%>
                                         <%=article.titre%>
                                         <%end%>
                                         </h3>
                                         <footer>
                                               <div class="views"><%=link_to "lire l'article", article, class:"nav-article"%></div>
                                         </footer>
                               </div><%=link_to "", article%>
                      </div>
			      </div>
			<% end %>
		  <div class="col-lg-12 col-12 text-center m-top-mini m-bottom-mini">
			<%=link_to "voir tous les articles", articles_path ,class:"btn btn-appel btn-lg text-maj text-bold" %>
		</div>
			  </div>
		</div>
	</div>
</div>

<%=render 'footers/main-footer'%>